
.counters {
    display: flex;
    justify-content: space-around;

    width: 1120px;
    height: 146px;

    margin: 64px auto 0px auto;
    background: linear-gradient(rgba(223, 50, 49, 0.1), rgba(223, 50, 49, 0.25));
    
    border-radius: 32px 128px 32px 32px;
}


.counters__text-box {
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 82px;
}
