

.features {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    margin: 96px auto 0px auto;

    width: 1120px;
    height: 476px;
}

.features__head {
    color: #606482;
}

.features__boxes {
    width: 1120px;
    display: flex;
    margin-top: 16px;
}

.features__card {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;

    width: 352px;
    height: 374px;

    background-color: white;
    border-radius: 32px;
    box-shadow: 0px 20px 50px rgba(96, 100, 130, 0.1);
}

.features__card-circle {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;

    width: 96px;
    height: 96px;
    border-radius: 50%;

    margin-top: 32px;
}

.features__circle-red {
    background: linear-gradient(45deg, rgba(223, 50, 49, 0.1), rgba(223, 50, 49, 0.25));
}

.features__circle-blue {
    background: linear-gradient(45deg, rgba(96, 100, 130, 0.1), rgba(96, 100, 130, 0.25));
}

.features__circle-green {
    background: linear-gradient(45deg, rgba(83, 103, 32, 0.1), rgba(83, 103, 32, 0.25));
}
