
.feedback {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    width: 1120px;
    height: 594px;
    margin: 96px auto 0px auto;
}

.feedback__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    width: 352px;
    height: 476px;

    box-shadow: 0px 20px 50px rgba(96, 100, 130, 0.1);
}

.feedback__card-star {
    width: 24px;
    height: 24px;
}


.feedback__card-stars {
    display: flex;
    justify-content: space-between;

    width: 152px;
    height: 24px;

}