
.footer {
    display: flex;

    width: auto;
    height: 334px;
    margin: 96px auto 0px auto;

    background-color: rgba(226, 225, 233, 0.25);
}


.footer__text1 {
    display: flex;
    flex-wrap: wrap;

    width: 256px;
    height: 50px;

    margin-left: 160px;
}

.footer__info {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    margin-left: 24px;
    margin-top: 64px;
}

.footer__supp {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    margin-left: 128px;
    margin-top: 64px;
}

.footer__soc {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    margin-left: 137px;
    margin-top: 64px;
}

.ARR {
    display: flex;
    align-items: center;
    justify-content: center;

    width: auto;
    height: 64px;

    background-color: rgba(226, 225, 233, 0.5);
}